:root {
  --body-bg-color: #E5E5E5;
  --main-bg-color:#F7F3F3;
  --black-text: #050505;
  --gray-text: #858282;
  --font-size-25: 25px;
  --font-size-22: 22px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
}